<p fundoAmarelo>
    Texto com fundo amarelo.
</p>

<button fundoAmarelo>boton fundo amarelo</button>

<p highlightMouse>
    texto com highlight quando passo o mouse.
</p>


<p [highlight]="'red'" [defaultColor]="'gray'">
    texto com highlight com cores custom.
</p>



<h5>Diretica Estrutura customizada - ngElse</h5>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>

<div *ngElse="mostrarCursos">
    Nao existem cursos para serem listados.
</div>

<br>
<button  (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>